<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brandeis Class Search</title>
</head>
<body>

<h3>Brandeis Class Search</h3>


<form action="{{ url_for('course_times') }}" name="search" method="post">
    <label for="query">Command:</label>
    <input type="text" id="query" name="query" size=50>
    <br>
    <label for="start">Start Time:</label>
    <input type="text" id="start" name="start" size=50 width='10%'>
    <label for="end">End Time:</label>
    <input type="text" id="end" name="end" size=50 width='10%'>
    <br>
    <label for="days">Days:</label>
    <input type="text" id="days" name="days" placeholder='Enter Days Separated By A Comma e.g. m, w, th' size=50 width='15%'>
    <input type="submit" value="Search">
</form>

<div>
    {% if target|length>0 %}
        {% for res in target %}
            {% if res is iterable and (res is not string and res is not mapping) %}
            <ul>
                {% for item in res %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h4>{{ res }}</h4>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


</body>
</html>