<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brandeis Class Search</title>
</head>
<body>

<h3>Brandeis Class Search</h3>


<form action="{{ url_for('results') }}" name="search" method="post">
    <label for="query">Command:</label>
    <input type="text" id="query" name="query" size=50>
    <label for="specific">Filter:</label>
    <input type="text" id="specific" name="specific" size=50>
    <input type="submit" value="Search">
</form>

<table style='border:solid black 1px; width:60%; height:70%'>
    <small><i>**For any commands that require filtering, typing the command in alone will render a list of valid filters to choose from</i></small>
    <thead>
        <tr style='border:solid black 1px'>
            <th style='border:solid black 1px'>COMMANDS</th>
            <th style='border:solid black 1px'>FILTERS</th>
        </tr>
        {% for key in commands.keys() %}
        <tr>
            {% for command_fltr_pair in commands[key] %}
                <td>{{ command_fltr_pair }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </thead>
</table>


</body>
</html>